@import "tailwindcss";

:root {
  --background: #0a0a0a; /* fundo escuro */
  --foreground: #F4F4F5; /* texto claro */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F4F4F5;
  }
}
/* Scrollbar moderna */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3b82f6, #06b6d4); 
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #eb25ca, #0891b2);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #757575 transparent;
}

/* Ajuste para o DatePicker combinar com o tema escuro */
.react-datepicker {
  background-color: #0f0f11 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 1.5rem !important;
  font-family: inherit !important;
  color: white !important;
}

.react-datepicker__header {
  background-color: #161618 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.react-datepicker__current-month, .react-datepicker__day-name, .react-datepicker__day {
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.react-datepicker__day--selected {
  background-color: white !important;
  color: black !important;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Orbitron", "Montserrat", Arial, Helvetica, sans-serif;
}
