@import "tailwindcss";

:root {
  --background: #1A1A1A; /* fundo escuro */
  --foreground: #F4F4F5; /* texto claro */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F4F4F5;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.container-cartoes {
    overflow-y: auto;    /* Permite rolagem */
    scrollbar-width: none; /* Firefox - esconde a barra */
    -ms-overflow-style: none; /* IE e Edge - esconde a barra */
}

/* Chrome, Safari e Opera - esconde a barra */
.container-cartoes::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Orbitron", "Montserrat", Arial, Helvetica, sans-serif;
}
